<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kira.order.mapper.OrderMapper">
    <resultMap id="BaseResultMap" type="com.kira.order.entity.Order">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="order_num" jdbcType="VARCHAR" property="orderNum"/>
        <result column="crt_time" jdbcType="TIMESTAMP" property="crtTime"/>
        <result column="upd_time" jdbcType="TIMESTAMP" property="updTime"/>
        <result column="crt_user" jdbcType="VARCHAR" property="crtUser"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, order_num, crt_time, upd_time, crt_user
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from p_order
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from p_order
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.kira.order.entity.Order"
            useGeneratedKeys="true">
    insert into p_order (order_num, crt_time, upd_time,
      crt_user)
    values (#{orderNum,jdbcType=VARCHAR}, #{crtTime,jdbcType=TIMESTAMP}, #{updTime,jdbcType=TIMESTAMP},
      #{crtUser,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.kira.order.entity.Order"
            useGeneratedKeys="true">
        insert into p_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orderNum != null">
                order_num,
            </if>
            <if test="crtTime != null">
                crt_time,
            </if>
            <if test="updTime != null">
                upd_time,
            </if>
            <if test="crtUser != null">
                crt_user,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="orderNum != null">
                #{orderNum,jdbcType=VARCHAR},
            </if>
            <if test="crtTime != null">
                #{crtTime,jdbcType=DATE},
            </if>
            <if test="updTime != null">
                #{updTime,jdbcType=DATE},
            </if>
            <if test="crtUser != null">
                #{crtUser,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.kira.order.entity.Order">
        update p_order
        <set>
            <if test="orderNum != null">
                order_num = #{orderNum,jdbcType=VARCHAR},
            </if>
            <if test="crtTime != null">
                crt_time = #{crtTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updTime != null">
                upd_time = #{updTime,jdbcType=TIMESTAMP},
            </if>
            <if test="crtUser != null">
                crt_user = #{crtUser,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.kira.order.entity.Order">
    update p_order
    set order_num = #{orderNum,jdbcType=VARCHAR},
      crt_time = #{crtTime,jdbcType=DATE},
      upd_time = #{updTime,jdbcType=DATE},
      crt_user = #{crtUser,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

    <select id="existLatestCallOrder" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/> FROM p_order WHERE order_num = #{orderNum}
            AND date_sub( now(), INTERVAL 1 MINUTE )&lt;= upd_time
    </select>
</mapper>